/* Reset default margin, padding, and margin-top */
body {
    background-color: rgb(240, 210, 210);
    margin: 0;
    padding: 0;
    margin-top: 0;
}

/* Reset margin-top for unordered lists */
ul {
    margin-top: 0;
}

/* Navigation */
nav {
    background-color: #FFDAB9;
    height: 40px;
    padding-top: 25px;
    padding-bottom: 10px;
    text-align: center;
    border-bottom: 3px solid black;
    font-weight: bold;
}

/* Navigation List Items */
nav li {
    display: inline;
    padding: 5px;
}

/* Navigation Links */
nav li a {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    text-decoration: none;
    color: black;
    font-size: larger;
}

/* Form Fieldset */
fieldset {
    background-color: bisque;
    border: 5px solid rgb(219, 47, 219);
    width: 35%;
    margin-left: 32%; /* Center horizontally */
    margin-top: 10%; /* Add margin from the top */
    font-family: Arial, Helvetica, sans-serif;
}

/* Heading */
h1 {
    color: blue;
}

/* Heading, Paragraph, Footer */
h1, p, footer {
    padding-left: 5%;
}

/* Form Labels */
.titles {
    margin-left: 20%;
}

#subtotal{
    margin-left: 4%;
}

#taxrate {
    margin-left: 3%;
}

#salestax{
    margin-left: 2%;
}

/* Total Input Field */
#total {
    margin-left: 8%;
}

/* Buttons */
button {
    background-color: palevioletred;
    border: none;
    height: 25px;
    border-radius: 8px;
}

/* Calculate Button */
#calculate {
    margin-left: 28%;
}

/* Clear Button */
#clear {
    margin-left: 5%;
}

/* Footer */
footer {
    padding-top: 1%;
    padding-bottom: 1%;
}
